body {
    padding: 10px;
    background-color: rgb(240, 101, 101);
    background-blend-mode: hard-light;
}

main {
    background-color: bisque;
    opacity: 40%;
    border-color: black;
    border-width: 5cm;
    border-radius: 0.5cm;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    border-color: black;
}

img {
    border: 5px solid #555;
}

nav {
    line-height: 48px;
}

select {
    line-height: 36px;
}

input {
    background-color: white !important;
}

label {
    line-height: 36px;
}

.ocultar {
    display: none;
}

.button-black {
    border: 2px solid white !important;
    background-color: black !important;
}

.button-black:active {
    color: black;
    border: 2px solid black !important;
    background-color: white !important;

}

.button-outline {
    color: white !important;
    border: 2px solid white !important;
}

.button-outline:active {
    color: black !important;
    border: 2px solid black !important;
    background-color: white !important;

}

.button-huella {
    background-color: white !important;
    height: 50px !important;
}

.section-email {
    padding: 40px;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: lightblue;
    border-radius: 10px;
}

.section-login {
    padding: 40px;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: darkslategray;
    border-radius: 10px;
}

.section-login label {
    color: white !important;
    font-weight: 300;
}

footer {
    background-color: rgb(49, 47, 47);
    opacity: 70%;
    height: 4cm;
    text-align: center;
}